[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggtea"]
	path = ggtea
	url = https://github.com/ambitiousbellydancingsquirrel/ggtea
